*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}


.body-div{
    width: 100%;
    min-height: 400px;
    background-color: lightgray;
    padding-left: 2%;
    line-height: 400px;
    margin-bottom: 10px;

}